body
{
background-color: #12141a;
}

.texto1
{
position: absolute;
font-size: 30px;
color: white;
left: 30%;
text-align: center;
bottom: 400px;
}
 
.texto2
{
position: absolute;
font-size: 25px;
color: white;
text-align: center;
bottom: 360px;
left: 26%;
}

.botao
{
position: absolute;
height: 150px;
width: 150px;
bottom: 100px;
left: 38%;
}